#about{
    img{
        box-shadow: 11px 16px 16px -1px rgba(0,0,0,0.56);
        -webkit-box-shadow: 11px 16px 16px -1px rgba(0,0,0,0.56);
        -moz-box-shadow: 11px 16px 16px -1px rgba(0,0,0,0.56);
        width: 80%;
    }
    h1{
        font-size: 3rem;
        font-weight: 900;
    }
    .profession p{
        margin-bottom: 0;
        span{
            color: $lightColor1;
            display: inline-block;
            margin: 0 10px;
        }
    } 
    .progress{
        background-color: $lightColor2;
        justify-content: flex-start;
        border-radius: 50px;
        align-items: center;
        position: relative;
        display: flex;
        height: 30px;
        width: 100%;
        box-shadow: -1px -3px 100px -37px rgba(0,0,0,0.75) inset;
        -webkit-box-shadow: -1px -3px 100px -37px rgba(0,0,0,0.75) inset;
        -moz-box-shadow: -1px -3px 100px -37px rgba(0,0,0,0.75) inset;
        .pro-value{
            border-radius: 50px;
            background-color: $darkColor;
            height: 30px;
            width: 0;
            p{
                font-size: 1.1rem;
                color:$lightColor2;
                padding: 1px 10px;
            }
        }
        .pro-value1{
            animation: load1 3s normal forwards;
        }
        .pro-value2{
            animation: load2 3s normal forwards;
        }
        .pro-value3{
            animation: load3 3s normal forwards;
        }
        .pro-value4{
            animation: load4 3s normal forwards;
        }
        .pro-value5{
            animation: load5 3s normal forwards;
        }
    }
    .about-links{
        .bt1{
            background-color: $darkColor;
            &:hover{
                background-color: transparent;
                color: $darkColor;
                border: 1px solid $darkColor;
                transition: 0.5s;
            }
        }
        .bt2:hover{
            background-color: $darkColor;
            color:$lightColor3;
            border: none;
            transition: 0.5s;
        }
    }
}

@keyframes load1{
    0%{
        width: 0;
    }
    100%{
        width: 92%;
    }
}
@keyframes load2{
    0%{
        width: 0;
    }
    100%{
        width: 95%;
    }
}
@keyframes load3{
    0%{
        width: 0;
    }
    100%{
        width: 74%;
    }
}
@keyframes load4{
    0%{
        width: 0;
    }
    100%{
        width: 85%;
    }
}
@keyframes load5{
    0%{
        width: 0;
    }
    100%{
        width: 89%;
    }
}

@media (max-width: 576px) {
    #about{
        .pic-container{
            display: flex;
            justify-content: center;
            margin-bottom: 25px;
            img{
                width: 38%;
            }
        }
        .about-me{
            text-align: center;
            padding: 0px 50px;
            h1{
                font-size: 1.8rem;
                margin-bottom: 10px;
            }
            .profession{
                font-size: 0.7rem;
            }
            .myself{
                font-size: 0.85rem !important;
            }
            h2{
                font-size: 1.3rem !important;
            }
            .progress-container{
                padding: 0 20px;
                .progress{
                    height: 20px;
                    p{
                        font-size: 0.6rem;
                        padding: 7px 10px;
                        text-align: left;
                    }
                }
            }
            .about-links a{
                font-size: 0.6rem;
            }
        }
    }
}

