* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: poppins;
}

.btn:focus {
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
}

.floats-container {
  height: 100vh;
  position: fixed;
  right: 0;
  z-index: 1;
  background: transparent;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.floats-container .float-links {
  width: 60px;
}

.floats-container .float-links a {
  display: block;
  margin: 10px 0;
  font-size: 35px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  color: #bfbdbd;
}

.floats-container .float-links a:hover {
  -webkit-transform: scale(1.5, 1.5);
          transform: scale(1.5, 1.5);
}

.floats-container .float-links a.makeColorDark {
  color: black;
}

#go-top {
  background: white;
  position: fixed;
  right: 32px;
  bottom: 16px;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 32px;
  color: black;
  text-decoration: none;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#go-top:hover {
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#go-top.active {
  bottom: 32px;
  z-index: 1;
  pointer-events: auto;
  opacity: 1;
  box-shadow: 0px 1px 73px -5px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 0px 1px 73px -5px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px 1px 73px -5px rgba(0, 0, 0, 0.75) inset;
}

@media (max-width: 992px) {
  .float-links a {
    font-size: 4vw !important;
  }
}

@media (max-width: 576px) {
  .float-links {
    width: 35px;
    top: 30%;
  }
  .float-links a {
    font-size: 25px;
    margin: 3px 0;
  }
  .float-links a:hover {
    -webkit-transform: scale(1.1, 1.1);
            transform: scale(1.1, 1.1);
  }
  .float-links.dontShow {
    display: none;
  }
  #go-top {
    right: 10px;
    width: 40px;
    height: 40px;
    font-size: 14px;
  }
  #go-top:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
}

#nav-section .fixed-top {
  top: 20px;
}

#nav-section ul {
  max-width: -webkit-fit-content;
  max-width: -moz-fit-content;
  max-width: fit-content;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-transition: all 0.7s ease-in-out;
  transition: all 0.7s ease-in-out;
  background-color: black;
  border-radius: 40px;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  margin: 0 auto;
}

#nav-section ul li a {
  border-radius: 40px;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  font-size: 1.25rem;
}

#nav-section ul li a:hover {
  color: black !important;
  background: white !important;
  box-shadow: 0px -1px 111px -105px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: 0px -1px 111px -105px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: 0px -1px 111px -105px rgba(0, 0, 0, 0.75) inset;
}

#nav-section ul.light-nav {
  background-color: rgba(0, 0, 0, 0.8);
}

@media (max-width: 992px) {
  #nav-section ul li a {
    font-size: 2.5vw !important;
  }
}

@media (max-width: 576px) {
  #nav-section ul li a {
    font-size: 0.9rem !important;
    padding: .5rem 0.6rem;
  }
}

#home {
  background-color: black;
  width: 100%;
  height: 100vh;
  color: #bfbdbd;
}

#home h3 {
  font-size: 4.4rem;
  font-weight: 700;
}

#home h3 small {
  font-weight: 400;
}

#home h3 .profession {
  font-size: 1.6rem;
}

#home h3 .profession span {
  font-size: 2rem;
  font-weight: bold;
}

#home h6 {
  font-size: 1.4rem;
  text-transform: uppercase;
}

#home h6 span {
  display: inline-block;
  margin: 0 10px;
  color: black;
}

#home .btn {
  background-color: black;
  color: white;
  border: 1px solid;
}

#home .btn i {
  display: inline-block;
  margin-left: 10px;
}

/* lg = 992px */
@media (max-width: 992px) {
  #home .main-content {
    padding: 3vw 0 !important;
  }
  #home h3 {
    font-size: 7vw;
  }
  #home h3 small {
    font-size: 6vw;
  }
  #home h3 .profession {
    font-size: 2.5vw;
  }
  #home h3 .Typewriter__wrapper, #home h3 .Typewriter__cursor {
    font-size: 3vw !important;
  }
  #home .btn {
    width: 26vw;
    font-size: 2vw;
    padding: 2vw 3vw !important;
    margin-top: 3vw !important;
  }
}

@media only screen and (max-width: 576px) {
  #home {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }
  #home .container {
    margin-bottom: 110px;
  }
  #home h3 {
    font-size: 2.9rem;
    margin-bottom: .3rem;
  }
  #home h3 small {
    font-size: 0.35em;
  }
  #home h6 {
    font-size: 0.93rem;
  }
  #home .btn {
    font-size: 1rem;
    font-weight: lighter !important;
  }
  #home .btn i {
    margin-left: 8px;
  }
}

#about img {
  box-shadow: 11px 16px 16px -1px rgba(0, 0, 0, 0.56);
  -webkit-box-shadow: 11px 16px 16px -1px rgba(0, 0, 0, 0.56);
  -moz-box-shadow: 11px 16px 16px -1px rgba(0, 0, 0, 0.56);
  width: 80%;
}

#about h1 {
  font-size: 3rem;
  font-weight: 900;
}

#about .profession p {
  margin-bottom: 0;
}

#about .profession p span {
  color: #bfbdbd;
  display: inline-block;
  margin: 0 10px;
}

#about .myself, #about h2 {
  font-size: 1.25rem;
}

#about .progress {
  background-color: #eae2e2;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  border-radius: 50px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 30px;
  width: 100%;
  box-shadow: -1px -3px 100px -37px rgba(0, 0, 0, 0.75) inset;
  -webkit-box-shadow: -1px -3px 100px -37px rgba(0, 0, 0, 0.75) inset;
  -moz-box-shadow: -1px -3px 100px -37px rgba(0, 0, 0, 0.75) inset;
}

#about .progress .pro-value {
  border-radius: 50px;
  background-color: black;
  height: 30px;
  width: 0;
}

#about .progress .pro-value p {
  font-size: 1.1rem;
  color: #eae2e2;
  padding: 1px 10px;
}

#about .progress .pro-value1 {
  -webkit-animation: load1 3s normal forwards;
          animation: load1 3s normal forwards;
}

#about .progress .pro-value2 {
  -webkit-animation: load2 3s normal forwards;
          animation: load2 3s normal forwards;
}

#about .progress .pro-value3 {
  -webkit-animation: load3 3s normal forwards;
          animation: load3 3s normal forwards;
}

#about .progress .pro-value4 {
  -webkit-animation: load4 3s normal forwards;
          animation: load4 3s normal forwards;
}

#about .progress .pro-value5 {
  -webkit-animation: load5 3s normal forwards;
          animation: load5 3s normal forwards;
}

#about .about-links .bt1 {
  background-color: black;
}

#about .about-links .bt1:hover {
  background-color: transparent;
  color: black;
  border: 1px solid black;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

#about .about-links .bt2:hover {
  background-color: black;
  color: white;
  border: none;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

@-webkit-keyframes load1 {
  0% {
    width: 0;
  }
  100% {
    width: 92%;
  }
}

@keyframes load1 {
  0% {
    width: 0;
  }
  100% {
    width: 92%;
  }
}

@-webkit-keyframes load2 {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}

@keyframes load2 {
  0% {
    width: 0;
  }
  100% {
    width: 95%;
  }
}

@-webkit-keyframes load3 {
  0% {
    width: 0;
  }
  100% {
    width: 74%;
  }
}

@keyframes load3 {
  0% {
    width: 0;
  }
  100% {
    width: 74%;
  }
}

@-webkit-keyframes load4 {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}

@keyframes load4 {
  0% {
    width: 0;
  }
  100% {
    width: 85%;
  }
}

@-webkit-keyframes load5 {
  0% {
    width: 0;
  }
  100% {
    width: 89%;
  }
}

@keyframes load5 {
  0% {
    width: 0;
  }
  100% {
    width: 89%;
  }
}

@media (max-width: 992px) {
  #about h1 {
    font-size: 5vw;
  }
  #about .profession p {
    font-size: 1.6vw;
  }
  #about .myself, #about h2 {
    font-size: 2.5vw;
  }
  #about .progress {
    height: 4vw;
  }
  #about .progress .pro-value {
    height: 4vw;
  }
  #about .progress .pro-value p {
    font-size: 2vw;
    line-height: 3.8vw;
  }
  #about .about-links a {
    font-size: 2vw;
  }
  #about .pic-container {
    padding-bottom: 10vw;
    text-align: center;
  }
  #about img {
    width: 25%;
  }
}

@media (max-width: 576px) {
  #about .pic-container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin-bottom: 25px;
  }
  #about .pic-container img {
    width: 38%;
  }
  #about .about-me {
    text-align: center;
    padding: 0px 50px;
  }
  #about .about-me h1 {
    font-size: 1.8rem;
    margin-bottom: 10px;
  }
  #about .about-me .profession {
    font-size: 0.7rem;
  }
  #about .about-me .myself {
    font-size: 0.85rem !important;
  }
  #about .about-me h2 {
    font-size: 1.3rem !important;
  }
  #about .about-me .progress-container {
    padding: 0 20px;
  }
  #about .about-me .progress-container .progress {
    height: 20px;
  }
  #about .about-me .progress-container .progress p {
    font-size: 0.6rem;
    padding: 7px 10px;
    text-align: left;
  }
  #about .about-me .about-links a {
    font-size: 0.6rem;
  }
}

#project h1 {
  font-size: 3rem;
  font-weight: 900;
}

#project a {
  text-decoration: none;
}

#project .card {
  box-shadow: 0px 1px 66px -24px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 66px -24px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 66px -24px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#project .card h4 {
  color: black;
}

#project .card p {
  color: black;
}

#project .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#project .project-stack button {
  font-size: .64285714rem;
  line-height: 1;
  margin: 0 .14285714em;
  background-color: #eae2e2;
  padding: .5833em .833em;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  border: 0 solid transparent;
  border-radius: .28571429rem;
  pointer-events: none;
}

#project .read-more a {
  border: none;
  outline: 0;
  background-color: #eae2e2;
  color: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.15) !important;
          box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.15) !important;
  width: 100%;
}

#project .carousel-control-prev, #project .carousel-control-next {
  width: 5%;
  background: none;
  border: none;
}

#project .carousel-icon-container {
  background: black;
  height: 3rem;
  width: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 10px;
}

#project-mobile {
  display: none;
}

#project-mobile h1 {
  font-size: 3rem;
  font-weight: 900;
}

#project-mobile a {
  text-decoration: none;
}

#project-mobile .card {
  box-shadow: 0px 1px 66px -24px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 0px 1px 66px -24px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 1px 66px -24px rgba(0, 0, 0, 0.75);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#project-mobile .card h4 {
  color: black;
}

#project-mobile .card p {
  color: black;
}

#project-mobile .card:hover {
  -webkit-transform: scale(1.05);
          transform: scale(1.05);
}

#project-mobile .project-stack button {
  font-size: .64285714rem;
  line-height: 1;
  margin: 0 .14285714em;
  background-color: #eae2e2;
  padding: .5833em .833em;
  color: rgba(0, 0, 0, 0.6);
  font-weight: 700;
  border: 0 solid transparent;
  border-radius: .28571429rem;
  pointer-events: none;
}

#project-mobile .read-more a {
  border: none;
  outline: 0;
  background-color: #eae2e2;
  color: rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.15) !important;
          box-shadow: 0 0 0 1px rgba(34, 36, 38, 0.15) !important;
  width: 100%;
}

@media (max-width: 992px) {
  #project {
    display: none;
  }
  #project h1 {
    font-size: 5vw;
  }
  #project-mobile {
    display: block;
  }
  #project-mobile .project-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

@media (max-width: 576px) {
  #project {
    display: none;
  }
  #project-mobile {
    display: block;
  }
  #project-mobile h1 {
    font-size: 1.8rem;
  }
  #project-mobile .project-container .card-container {
    padding: 10px 40px;
  }
  #project-mobile .project-container .card-container .card h4 {
    font-size: 1.1rem;
    margin-bottom: 2px;
  }
  #project-mobile .project-container .card-container .card h5 {
    font-size: 0.8rem;
  }
  #project-mobile .project-container .card-container .card p {
    font-size: 0.7rem;
    margin-bottom: 0.4rem;
  }
  #project-mobile .project-container .card-container .card .read-more a {
    font-size: 0.8rem;
  }
}

#services .first-heading {
  font-size: 3rem;
  font-weight: 900;
}

#services .second-heading {
  letter-spacing: 3px;
  font-weight: 300;
  font-size: 45px;
}

#services .card {
  border: none;
  outline: none;
  box-shadow: -11px 7px 92px -67px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: -11px 7px 92px -67px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: -11px 7px 92px -67px rgba(0, 0, 0, 0.75);
}

#services .card p {
  color: gray;
}

#services .card .circle {
  height: 70px;
  width: 70px;
  background-color: #eae2e2;
  color: black;
  padding: 12px;
  font-size: 30px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 20px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#services .card:hover .circle {
  background-color: black;
  color: #eae2e2;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

@media (max-width: 992px) {
  #services h1 {
    font-size: 5vw !important;
  }
}

@media (max-width: 576px) {
  #services {
    padding: 0 50px;
  }
  #services .first-heading {
    font-size: 1.8rem;
  }
  #services .second-heading {
    font-size: 0.9rem;
  }
  #services .card .card-body .circle {
    margin-bottom: 0;
    height: 50px;
    width: 50px;
    font-size: 18px;
  }
  #services .card .card-body h4 {
    font-size: 1.1rem;
  }
  #services .card .card-body p {
    font-size: 0.78rem;
  }
  #services .card:hover .circle {
    background-color: black;
    color: #eae2e2;
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
}

#contact .main-heading {
  font-size: 3rem;
  font-weight: 900;
}

#contact .box .circle {
  height: 70px;
  width: 70px;
  background-color: #eae2e2;
  color: black;
  padding: 12px;
  font-size: 30px;
  border-radius: 50%;
  display: inline-block;
  margin-bottom: 20px;
  -webkit-transition: all .4s;
  transition: all .4s;
}

#contact .box:hover .circle {
  background-color: black;
  color: #eae2e2;
  -webkit-transform: scale(1.3);
          transform: scale(1.3);
}

#contact .box p {
  font-size: 18px;
  color: gray;
}

@media (max-width: 576px) {
  #contact {
    padding: 0 50px;
  }
  #contact .main-heading {
    font-size: 1.8rem;
  }
  #contact .box h5 {
    font-size: 0.95rem;
  }
  #contact .box p {
    margin-top: 5px;
    font-size: 0.75rem;
  }
  #contact .box .circle {
    margin-bottom: 0;
    height: 50px;
    width: 50px;
    font-size: 18px;
  }
  #contact .box:hover .circle {
    background-color: black;
    color: #eae2e2;
    -webkit-transform: scale(1.03);
            transform: scale(1.03);
  }
}

#footer {
  background-color: black;
  color: #eae2e2;
}

#footer .container {
  padding: 0px 160px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

#footer .container ul {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0;
}

#footer .container ul li {
  font-size: 30px;
  margin: 0 15px;
}

#footer .container ul li a {
  color: #eae2e2;
}

#footer .container ul li a:hover {
  color: #878282;
}

@media (max-width: 576px) {
  #footer .container {
    padding: 0 20px;
    font-size: 0.8rem;
  }
  #footer .container ul {
    display: none !important;
  }
}
/*# sourceMappingURL=App.css.map */