
#contact{
    .main-heading{
        font-size: 3rem;
        font-weight: 900;
    }
    .box{
        .circle{
            height: 70px;
            width: 70px;
            background-color: $lightColor2;
            color:$darkColor;
            padding: 12px;
            font-size: 30px;
            border-radius: 50%;
            display: inline-block;
            margin-bottom: 20px;
            transition: all .4s;
        }
        &:hover .circle{
            background-color: $darkColor;
            color: $lightColor2;
            transform: scale(1.3);
        }
        p{
            font-size: 18px;
            color: $lightColor4;
        }
    }
}

@media (max-width: 576px) {
    #contact{
        padding: 0 50px;
        .main-heading{
            font-size: 1.8rem;
        }
        .box{
            h5{
                font-size: 0.95rem;
            }
            p{
                margin-top: 5px;
                font-size: 0.75rem;
            }
            .circle{
                margin-bottom: 0;
                height: 50px;
                width: 50px;
                font-size: 18px;
            }
            &:hover .circle{
                background-color: $darkColor;
                color: $lightColor2;
                transform: scale(1.03);
            }
        }
    }
}
