#footer{
    background-color: $darkColor;
    color: $lightColor2;
    .container{
        padding: 0px 160px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        ul{
            list-style: none;
            display: flex;
            margin: 0;
            li{
                font-size: 30px;
                margin: 0 15px;
                a{
                    color: $lightColor2;
                    &:hover{
                        color: #878282;
                    }
                }
            }
        }
    }
}

@media (max-width: 576px) {
    #footer{
        .container{
            padding: 0 20px;
            font-size: 0.8rem;
            ul{
                display: none !important;
            }
        }
        
    }
}