*{
    box-sizing: border-box;
    font-family: poppins;
}

body{
    margin: 0;
    padding: 0;
}

#tsparticles{
    position: absolute;
    height: 100vh;
    width: -webkit-fill-available;
    z-index: 1;
}

@mixin services-and-contact-cards-styling{
    .text{
        font-size: 24px;
        font-weight: 700;
        margin: 40px 0 10px 0;
    }
    .sub-text{
        font-size: 16px;
        color: gray;
        letter-spacing: 0.1px;
    }
    .card{
        width: 400px;
        padding: 40px 45px 60px 45px;
        text-align: center;
        box-shadow: -11px 7px 92px -67px rgba(0,0,0,0.75);
        -webkit-box-shadow: -11px 7px 92px -67px rgba(0,0,0,0.75);
        -moz-box-shadow: -11px 7px 92px -67px rgba(0,0,0,0.75);
        border: none;
        outline: none;
        &:hover .icon-container{
            background-color: black;
            color: #eae2e2;
            transform: scale(1.3);
        }
    }
    .icon-container{
        width: fit-content;
        padding: 20px;
        border-radius: 50%;
        background-color: #eae2e2;
        margin: 0 auto;
        width: 65px;
        height: 65px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: all 0.2s ease-in-out;
    }
    i{
        font-weight: bold;
        font-size: 30px;
    }
    .card-container{
        display: flex;
        justify-content: space-evenly;
        margin-top: 70px;
    }
}

@mixin services-and-contact-cards-992-styling{
    .heading{
        font-size: 45px !important;
    }
    .text{
        font-size: 20px !important;
        margin: 30px 0 10px 0 !important;
    }
    .sub-text{
        font-size: 14px !important;
    }
    .card{
        width: 300px !important;
        padding: 30px 35px 50px 35px !important;
    }
}

@mixin services-and-contact-cards-768-styling{
    .heading{
        font-size: 35px !important;
    }
    .text{
        font-size: 17px !important;
        margin: 30px 0 10px 0 !important;
    }
    .sub-text{
        font-size: 12px !important;
    }
    .card{
        width: 250px !important;
        padding: 30px 24px 50px 24px !important;
    }
}

@mixin services-and-contact-cards-576-styling{
    .heading{
        font-size: 7vw !important;
    }
    .text{
        font-size: 4vw !important;
        margin: 4vw 0 2vw 0 !important;
    }
    .sub-text{
        font-size: 2.5vw !important;
    }
    .card{
        width: 58vw !important;
        padding: 5vw 8vw 9vw 8vw !important;
        margin-top: 4vw !important;
        &:hover .icon-container{
            transform: scale(1.1) !important;
        }
    }
    .card-container{
        flex-direction: column !important;
        align-items: center !important;
        margin-top: 8vw !important;
    }
    .icon-container{
        height: 12vw !important;
        width: 12vw !important;
        padding: 3vw !important;
        i{
            font-size: 5vw !important;
        }
    }
}

@mixin home-and-footer-social-icons-styling{
    ul{
        list-style: none;
        display: flex;
        margin: 0;
        li{
            font-size: 30px;
            margin: 0 15px;
            outline: none;
            a{
                color: #eae2e2;
                &:hover{
                    color: #878282;
                }
                i{
                    transition: all 0.2s ease-in;
                    &:hover{
                        transform: scale(1.2) !important;
                    }
                }
                
            }
        }
    }
}

#nav-section{
    position: fixed;
    top: 20px;
    width: 100%;
    z-index: 3;
    ul{
        list-style: none;
        padding: 0;
        margin: 0;
        display: flex;
        justify-content: center;
        max-width: fit-content;
        flex-wrap: nowrap;
        transition: all 0.7s ease-in-out;
        background-color: black;
        border-radius: 40px;
        align-items: baseline;
        margin: 0 auto;
        li{
            margin: 1vw;
            padding: 0.5vw;
            display: flex;
            a{
                color: white;
                text-decoration: none;
                border-radius: 40px;
                transition: all 0.2s ease-in-out;
                font-size: 1.5vw;
                font-weight: bold;
                padding: 0.5vw;
                &:hover{
                    color: black !important;
                    background:white !important;
                    box-shadow: 0px -1px 111px -105px rgba(0,0,0,0.75) inset;
                    -webkit-box-shadow: 0px -1px 111px -105px rgba(0,0,0,0.75) inset;
                    -moz-box-shadow: 0px -1px 111px -105px rgba(0,0,0,0.75) inset;
                }
            }
        }        
    }
}

#home{
    background-color: black;
    width: 100%;
    height: 100vh;
    color: #bfbdbd;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    .texts{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
    .heading-1{
        font-size: 3.4vw;
        line-height: 7vw;
        font-weight: 400;
        margin-top: 6vw;
    }
    .heading-2{
        font-size: 8vw;
        line-height: 9vw;
        font-weight: 700;
    }
    .heading-3{
        font-size: 3vw;
        line-height: 6vw;
        font-weight: 400;
        margin-top: 3vw;
    }
    @include home-and-footer-social-icons-styling();
    ul{
        padding: 0;
        margin-bottom: 40px;
        li{
            font-size: 3.5vw;
            margin: 0 4vw;
        }
    }
    .links{
        z-index: 2;
    }
}

#services{
    padding: 70px 0;
    background-color: #f8f9fa;
    .heading{
        font-size: 60px;
        font-weight: 900;
        text-align: center;
    }
    .sub-heading{
        letter-spacing: 3px;
        font-weight: 300;
        font-size: 45px;
        text-align: center;
    }
    @include services-and-contact-cards-styling()
    .card{
        background: white;
    }
}

#contact{
    padding: 70px 0;
    .heading{
        font-size: 60px;
        font-weight: 900;
        text-align: center;
    }
    @include services-and-contact-cards-styling();
    .card{
        box-shadow: none;
    }
}

#footer{
    padding: 20px;
    background-color: black;
    color: #eae2e2;
    display: flex;
    justify-content: space-around;
    align-items: center;
    @include home-and-footer-social-icons-styling();
}

#about{
    padding: 70px 0;
    background-color: #f8f9fa;
    .image{
        background-image: url('https://res.cloudinary.com/getgrouped/image/upload/v1629126086/table_cveurz.jpg');
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 40vw;
    }
    .right-info{
        flex: 1;
        padding-left: 50px;
    }
    .heading{
        font-size: 60px;
        font-weight: 900;
    }
    .cap{
        letter-spacing: 2px;
        font-weight: 400;
        font-size: 15px;
        margin: 20px 0 10px 0;
        span{
            color: #eae2e2;
        }
    }
    .text{
        font-size: 20px;
        letter-spacing: 0.1px;
    }
    .flex-container{
        display: flex;
        padding: 0 8vw 0 2vw;
    }
    .skill-heading{
        font-size: 25px;
        font-weight: 900;
        margin-top: 40px;
    }
    .text-flex{
        display: flex;
        justify-content: space-between;
    }
    .scale{
        height: 8px;
        width: 100%;
        background-color: #eae2e2;
    }
    .bg{
        height: 100%;
        background-color: black;
    }
    .skill:nth-of-type(1) .bg{
        width: 90%;
    }
    .skill:nth-of-type(2) .bg{
        width: 85%;
    }
    .skill:nth-of-type(3) .bg{
        width: 90%;
    }
    .skill:nth-of-type(4) .bg{
        width: 80%;
    }
    .skill:nth-of-type(5) .bg{
        width: 87%;
    }
    .skill:nth-of-type(6) .bg{
        width: 85%;
    }
    .skill:nth-of-type(7) .bg{
        width: 75%;
    }
    .skill{
        margin: 15px 0;
    }
    .btns{
        padding: 70px 0 10px 0;
    }
    a{
        padding: 15px 30px;
        border: none;
        font-weight: bold;
        text-decoration: none;
    }
    .cv{
        background-color: black;
        border: 1px solid black;
        color: white;
        margin-right: 30px;
        &:hover{
            background-color: transparent;
            color: black;
            transition: 0.3s;
        }
    }
    .contact{
        color: black;
        &:hover{
            background-color: black;
            color: white;
            transition: 0.3s;
        }
    }
}

#project{
    padding: 70px 0;
    .heading{
        font-size: 60px;
        font-weight: 900;
        text-align: center;
    }
    .card-container{
        padding: 60px 50px;
    }
    .image{
        img{
            width: 100%;
            height: inherit;
            object-fit: cover;
        }
    }
    .name{
        font-size: 1.5vw;
        font-weight: bold;
    }
    .created{
        font-size: 1vw;
        color: gray;
        letter-spacing: 1px;
    }
    .desc{
        font-size: 1.2vw;
        letter-spacing: 0.1px;
    }
    .content{
        padding: 18px 12px 15px 25px;
    }
}

.floats-container{
    height: 100vh;
    position: fixed;
    right: 0;
    z-index: 3;
    background: transparent;
    display: flex;
    align-items: center;
    .float-links{
        width: 60px;
        a{
            display: block;
            margin: 10px 0;
            font-size: 35px;
            transition: all 0.3s ease-in-out;
            color: #eae2e2;
            &:hover{
                transform: scale(1.5,1.5);
            }
        }
        a.makeColorDark{
            color: black;
        }
    }
}


#go-top{
    background: #eae2e2;
    position: fixed;
    right: 32px;
    bottom: 16px;
    width: 55px;
    height: 55px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 32px;
    color: black;
    text-decoration: none;
    opacity: 0;
    pointer-events: none;
    transition: all .4s;
    &:hover{
        transform: scale(1.3);
    }
}

.dontShow{
    display: none;
}

#go-top.active{
    bottom: 32px;
    z-index: 3;
    pointer-events: auto;
    opacity: 1;
    box-shadow: 0px 1px 73px -5px rgba(0,0,0,0.75) inset;
    -webkit-box-shadow: 0px 1px 73px -5px rgba(0,0,0,0.75) inset;
    -moz-box-shadow: 0px 1px 73px -5px rgba(0,0,0,0.75) inset;
}

@media (max-width:992px){
    #services{
        .sub-heading{
            font-size: 30px;
        }
        @include services-and-contact-cards-992-styling();
    }
    #project{
        .heading{
            font-size: 45px;
        }
    }
    #contact{
        @include services-and-contact-cards-992-styling();
    }
    #about{
        .heading{
            font-size: 45px !important;
        }
        .flex-container{
            padding-right: 8vw;
        }
        .cap{
            font-size: 12px;
        }
        .text{
            font-size: 15px;
        }
        .skill-heading{
            font-size: 20px;
        }
        .text-flex{
            font-size: 14px;
        }
        .btns{
            padding-top: 40px;
            padding-bottom: 0;
        }
        a{
            padding: 9px 18px;
            font-size: 12px;
        }
    }
    #footer{
        .cr{
            font-size: 15px;
        }
        li{
            font-size: 20px !important;
        }
    }
    .float-links{
        a{
            font-size: 4vw !important;
        }
    }
    #project{
        .name{
            font-size: 1.8vw;
            font-weight: bold;
        }
        .created{
            font-size: 1.2vw;
            color: gray;
            letter-spacing: 1px;
        }
        .desc{
            font-size: 1.4vw;
            letter-spacing: 0.1px;
        }
    }
}

@media (max-width:768px){
    #nav-section{
        li{
            margin: 1.4vw !important;
            padding: 1vw !important;
        }
        a{
            font-size: 2.2vw !important;
            padding: 1vw !important;
        }
    }
    #services{
        .sub-heading{
            font-size: 20px;
        }
        @include services-and-contact-cards-768-styling();
    }
    #project{
        .heading{
            font-size: 35px;
        }
    }
    #contact{
        @include services-and-contact-cards-768-styling();
    }
    #about{
        .flex-container{
            flex-direction: column;
            padding: 0 8vw;
        }
        .image{
            height: 40vw;
            width: 100%;
            margin-bottom: 6vw;
        }
        .right-info{
            padding-left: 0;
        }
    }
    #footer{
        .cr{
            font-size: 13px;
        }
        li{
            font-size: 17px !important;
        }
    }
    .float-links{
        width: 6vw !important;
    }
    #go-top{
        height: 9vw;
        width: 9vw;
        i{
            font-size: 4.5vw;
        }
    }
    #project{
        .name{
            font-size: 2.2vw;
            font-weight: bold;
        }
        .created{
            font-size: 1.7vw;
            color: gray;
            letter-spacing: 1px;
        }
        .desc{
            font-size: 1.6vw;
            letter-spacing: 0.1px;
        }
    }
}

@media (max-width:576px){
    #services{
        .sub-heading{
            font-size: 4vw;
        }
        @include services-and-contact-cards-576-styling();
    }
    #contact{
        @include services-and-contact-cards-576-styling();
    }
    #project{
        .heading{
            font-size: 7vw;
        }
    }
    #about{
        .heading{
            font-size: 7vw !important;
        }
        .cap{
            font-size: 2.5vw;
            margin: 2vw 0 1vw 0;
        }
        .text{
            font-size: 2.8vw;
        }
        .skill-heading{
            font-size: 3.4vw;
            margin-top: 7vw;
        }
        .skill{
            margin: 2vw 0;
        }
        .text-flex{
            font-size: 2.8vw;
        }
        .scale{
            height: 1.4vw;
        }
        .btns{
            padding-top: 8vw;
            padding-bottom: 0;
        }
        a{
            padding: 2vw 4vw;
            font-size: 2.5vw;
        }
        .cv{
            margin-right: 3vw;
        }
    }
    #footer{
        justify-content: start;
        padding: 4vw;
        .cr{
            font-size: 2.5vw;
        }
        ul{
            display: none !important;
        }
    }
    .float-links{
        top: 30%;
        a{
            font-size: 25px;
            margin: 3px 0;
            &:hover{
                transform: scale(1.1,1.1);
            }
        }
    }
    #go-top{
        right: 10px;
        width: 40px;
        height: 40px;
        font-size: 14px;
        &:hover{
            transform: scale(1.1);
        }
    }
    #project{
        .name{
            font-size: 3vw;
            font-weight: bold;
        }
        .created{
            font-size: 2.4vw;
            color: gray;
            letter-spacing: 1px;
        }
        .desc{
            font-size: 2.4vw;
            letter-spacing: 0.1px;
        }
    }
}

@media (max-width:480px) {
    #nav-section{
        li{
            margin: 0.7vw !important;
            padding: 0.7vw !important;
        }
        a{
            font-size: 3.4vw !important;
            padding: 1.4vw !important;
        }
    }
    #home{
        .heading-1{
            font-size: 4.5vw;
            line-height: 6vw;
        }
        .heading-2{
            font-size: 10vw;
            line-height: 14vw;
        }
        .heading-3{
            font-size: 5vw;
            line-height: 6vw;
        }
        ul li{
            font-size: 6vw;
            margin-bottom: 10vw;
        }
    }
    #project{
        .name{
            font-size: 6vw;
            font-weight: bold;
        }
        .created{
            font-size: 5vw;
            color: gray;
            letter-spacing: 1px;
        }
        .desc{
            font-size: 4vw;
            line-height: 6.5vw;
        }
    }
    #about{
        .heading{
            font-size: 9vw !important;
        }
        .text{
            font-size: 4vw;
            line-height: 6.5vw;
        }
        .skill-heading{
            font-size: 6vw;
        }
        .skill{
            margin: 4vw 0;
        }
        .text-flex{
            font-size: 3.7vw;
            line-height: 6.5vw;
        }
        .btns{
            padding-top: 12vw;
            a{
                font-size: 4vw;
            }
            .contact{
                border: 1px solid;
            }
        }
        padding-top: 45px;
        .image{
            height: 55vw;
            margin-bottom: 45px;
        }
        .cap{
            font-size: 3vw;
            letter-spacing: 0.3vw;
            margin-bottom: 20px;
            margin-top: 0;
        }
    }
    #project{
        .heading{
            font-size: 9vw;
        }
    }
    #contact{
        .heading{
            font-size: 9vw !important;
        }
        .card{
            width: 70vw !important;
            .text{
                font-size: 5vw !important;
            }
            .sub-text{
                font-size: 4vw !important;
                line-height: 6.5vw !important;
            }
        }
        .card-2{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }
    #services{
        .heading{
            font-size: 9vw !important;
        }
        .sub-heading{
            font-size: 5vw !important;
        }
        .card{
            width: 70vw !important;
            background-color: white;
            padding: 10vw 5vw 15vw 5vw !important;
            .text{
                font-size: 5vw !important;
            }
            .sub-text{
                font-size: 4vw !important;
                line-height: 6.5vw !important;
            }
        }
        .card-2{
            margin-top: 10vw !important;
        }
        .icon-container{
            height: 15vw !important;
            width: 15vw !important;
            i{
                font-size: 7vw !important;
            }
        }
    }
    #footer{
        .cr{
            font-size: 4vw !important;
        }
    }
    .floats-container{
        display: none;
    }
}