#nav-section{
    .fixed-top{
        top: 20px;
    }
    ul{
        max-width: fit-content;
        flex-wrap: nowrap;
        transition: all 0.7s ease-in-out;
        background-color: $darkColor;
        border-radius: 40px;
        align-items: baseline;
        margin: 0 auto;
        li{
            a{
                border-radius: 40px;
                transition: all 0.2s ease-in-out;
                &:hover{
                    color: $darkColor !important;
                    background:$lightColor3 !important;
                    box-shadow: 0px -1px 111px -105px rgba(0,0,0,0.75) inset;
                    -webkit-box-shadow: 0px -1px 111px -105px rgba(0,0,0,0.75) inset;
                    -moz-box-shadow: 0px -1px 111px -105px rgba(0,0,0,0.75) inset;
                }
            }
        }        
    }
    ul.light-nav{
        background-color: rgba(0, 0, 0, 0.4);
    }

}

@media (max-width: 576px){
    #nav-section{
        ul li a{
            font-size: 0.9rem !important;
            padding: .5rem 0.6rem;
        }
    }
}

