#project{
    .card-container{
        height: 500px;
        width: 300px;
        border: 1px solid;
    }
    .image{
        height: 300px;
        img{
            width: 100%;
            height: inherit;
        }
    }
}