#services{
    .first-heading{
        font-size: 3rem;
        font-weight: 900;
    }
    .second-heading{
        letter-spacing: 3px;
        font-weight: 300;
        font-size: 45px;
    }
    .card{
        border: none;
        outline: none;
        box-shadow: -11px 7px 92px -67px rgba(0,0,0,0.75);
        -webkit-box-shadow: -11px 7px 92px -67px rgba(0,0,0,0.75);
        -moz-box-shadow: -11px 7px 92px -67px rgba(0,0,0,0.75);
        p{
            color:$lightColor4;
        }
        .circle{
            height: 70px;
            width: 70px;
            background-color: $lightColor2;
            color: $darkColor;
            padding: 12px;
            font-size: 30px;
            border-radius: 50%;
            display: inline-block;
            margin-bottom: 20px;
            transition: all .4s;
        }
        &:hover .circle{
            background-color: $darkColor;
            color: $lightColor2;
            transform: scale(1.3);
        }
    }
}

@media (max-width: 576px) {
    #services{
        padding: 0 50px;
        .first-heading{
            font-size: 1.8rem;
        }
        .second-heading{
            font-size: 0.9rem;
        }
        .card{
            .card-body{
                .circle{
                    margin-bottom: 0;
                    height: 50px;
                    width: 50px;
                    font-size: 18px;
                }
                h4{
                    font-size: 1.1rem;
                }
                p{
                    font-size: 0.78rem;
                }
            }
        }
        .card:hover .circle{
            background-color: $darkColor;
            color: $lightColor2;
            transform: scale(1.03);
        }
    }
}